<div
  class="max-w-3xl max-h-screen mx-auto my-8 p-6 md:p-8 bg-m3-inverse-primary text-m3-on-primary-container rounded-3xl border border-m3-outline shadow-2xl"
>
  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between border-b border-m3-outline/50 pb-4 mb-6"
  >
    <div>
      <h2 class="text-2xl font-semibold tracking-tight">Járművek listája</h2>
      <p class="text-sm text-m3-on-primary-container/70 mt-1">
        A rendszerben tárolt gépjárművek listája.
      </p>
    </div>
  </div>
  @if (this.listElements().length == 0) {
    <div class="overflow-x-auto w-full text-center text-2xl text-semibold">
      <span>Sajnáljuk! Úgy tűnik a keresett lista üres.</span>
    </div>
  } @else {
    <div class="overflow-x-auto rounded-xl border border-m3-outline/50 w-full">
      <mat-form-field class="w-full bg-m3-surface">
        <mat-label class="font-semibold text-m3-on-primary-container">Keresés</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Pl.: fabia v. Peugeot v. ABC-123"
          #filterInput
          class="bg-m3-surface"
        />
      </mat-form-field>
      <table
        mat-table
        [dataSource]="tableData"
        matSort
        class="w-full table-fixed text-m3-on-primary-container"
      >
        <!-- No Column -->
        <ng-container matColumnDef="index">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 py-4 text-sm font-semibold tracking-wide text-m3-on-primary-container"
          >
            No.
          </th>
          <td
            mat-cell
            *matCellDef="let index = index"
            class="border-b border-m3-outline/30 text-sm font-mono text-m3-on-primary-container"
          >
            {{ index + 1 }}
          </td>
        </ng-container>
        <!-- Brand column -->
        <ng-container matColumnDef="brand">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-6 py-4 text-sm font-semibold tracking-wide text-m3-on-primary-container"
          >
            Márka
          </th>
          <td
            mat-cell
            *matCellDef="let vehicle"
            class="border-b border-m3-outline/30 text-sm font-mono text-m3-on-primary-container"
          >
            {{ vehicle.brand }}
          </td>
        </ng-container>
        <!-- Model column -->
        <ng-container matColumnDef="model">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-6 py-4 text-sm font-semibold tracking-wide text-m3-on-primary-container"
          >
            Modell
          </th>
          <td
            mat-cell
            *matCellDef="let vehicle"
            class="border-b border-m3-outline/30 text-sm font-mono text-m3-on-primary-container"
          >
            {{ vehicle.model }}
          </td>
        </ng-container>
        <!-- Vin column -->
        <ng-container matColumnDef="vin">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-6 py-4 text-sm font-semibold tracking-wide text-m3-on-primary-container"
          >
            Alvázszám
          </th>
          <td
            mat-cell
            *matCellDef="let vehicle"
            class="border-b border-m3-outline/30 text-sm font-mono text-m3-on-primary-container"
          >
            {{ vehicle.vin }}
          </td>
        </ng-container>
        <!-- Licenese plate column -->
        <ng-container matColumnDef="licensePlate">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-6 py-4 text-sm font-semibold tracking-wide text-m3-on-primary-container"
          >
            Rendszám
          </th>
          <td
            mat-cell
            *matCellDef="let vehicle"
            class="border-b border-m3-outline/30 text-sm font-mono text-m3-on-primary-container"
          >
            {{ vehicle.licensePlate || 'Nincs' }}
          </td>
        </ng-container>
        <!-- Production year column -->
        <ng-container matColumnDef="productionYear">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="px-6 py-4 text-sm font-semibold tracking-wide text-m3-on-primary-container"
          >
            Évjárat
          </th>
          <td
            mat-cell
            *matCellDef="let vehicle"
            class="border-b border-m3-outline/30 text-sm font-mono text-m3-on-primary-container"
          >
            {{ vehicle.productionYear }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr
          mat-row
          (click)="selectVehicle(row.id)"
          *matRowDef="let row; columns: displayedColumns"
          matRipple
          class="group hover:bg-m3-inverse-primary/30 transition-colors duration-300 cursor-pointer"
        ></tr>
      </table>
    </div>
  }
</div>
